/* .App { */
  /* text-align: center;
}
.mainDiv {
  width: 70%;
  margin: 4% auto;
}
.category {
  margin: 2%;
}
.selectMain {
  width: 70%;
  margin: auto;
}
.selectMain h3 {
  margin: 3% 0;
}
.btn {
  width: 70%;
  margin: 4% auto;
}
.selectFlex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.option{
  display: 50%;
}
.deleteBtn{
  margin: 1% 0;
}
.mainSelectCat{
  margin: 1% 0;
}
.selectOption{
  margin: 1% 0;
} */